@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
  --max-width: 1100px;
  --color-orange: #F86600;
  --color-brown: #F8660026;
  --color-font--light: #fce7e3;
  --color-gray: #232526;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

body {
  color: white;
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

