.main {
  display: grid;
  grid-template-columns: 527px 402px 150px;
  min-height: 100vh;
  position: relative;
}

@media(width <= 1024px) {
  .main {
    grid-template-columns: 390px 360px 1fr;
    padding-right: 16px;
  }
}

@media(width <= 900px) {
  .main {
    grid-template-columns: 290px 350px 1fr;
  }
}

@media(width <= 800px) {
  .main {
    grid-template-columns: 210px 350px 1fr;
  }
}

@media(width <= 700px) {
  .main {
    grid-template-columns: 120px 300px 1fr;
  } 
}

@media(width <= 600px) {
  .main {
    grid-template-columns: 74px 1fr;
  } 
}


