.main {
  min-height: 100vh;
  padding: 16px;
}

.main h1 {
  margin-bottom: 24px;
}

.info {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.approachesList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.approachesList h2{
  margin-bottom: 8px;
}

.listHeader {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 8px;
  position: sticky;
  top: 0;
}

