.main {
  min-height: 100vh;
  padding: 16px;
}

.main h1 {
  margin-bottom: 24px;
}

.info {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.approachesList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.approachesList h2{
  margin-bottom: 8px;
}

.listHeader {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(0, 0, 0, 0.9);
  padding: 8px;
  position: sticky;
  top: 0;
}

@media(width <= 800px) {
  .listHeader strong:nth-of-type(2),
  .listHeader strong:nth-of-type(3),
  .listHeader strong:nth-of-type(4) {
      text-align: right;
  }

}
@media(width <= 700px) {
  .listHeader {
    grid-template-columns: 2fr 3fr 4fr 2fr;
  }

}

@media(width <= 600px) {
  .listHeader{
    font-size: 12px;
    width: calc(32px + 100%);
    transform: translateX(-16px);
    gap: 5px;
  }
}

@media(width <= 480px) {
  .listHeader{
    font-size: 10px;
  }
}

